<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_PdfWriterServiceV1"/>
                <binding name="BasicHttpBinding_PdfWriterServiceV2" />
                <binding name="BasicHttpBinding_PdfWriterServiceV3" />
                <binding name="BasicHttpBinding_PdfWriterServiceV4" maxReceivedMessageSize="2147483647" /><!-- allow big files -->
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/PdfWriterService/v1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PdfWriterServiceV1"
                contract="PdfServiceV1.PdfWriterServiceV1" name="BasicHttpBinding_PdfWriterServiceV1" />
            <endpoint address="http://localhost:8733/PdfWriterService/v2"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PdfWriterServiceV2"
                contract="PdfServiceV2.PdfWriterServiceV2" name="BasicHttpBinding_PdfWriterServiceV2" />
            <endpoint address="http://localhost:8733/PdfWriterService/v3"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PdfWriterServiceV3"
                contract="PdfServiceV3.PdfWriterServiceV3" name="BasicHttpBinding_PdfWriterServiceV3" />
            <endpoint address="http://localhost:8733/PdfWriterService/v4"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PdfWriterServiceV4"
                contract="PdfServiceV4.PdfWriterServiceV4" name="BasicHttpBinding_PdfWriterServiceV4" />
        </client>
    </system.serviceModel>
</configuration>