<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_PdfWriterServiceV3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/PdfWriterServicce/v3"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PdfWriterServiceV3"
                contract="PdfSvc.PdfWriterServiceV3" name="BasicHttpBinding_PdfWriterServiceV3" />
        </client>
    </system.serviceModel>
</configuration>