<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.web>
		<compilation debug="true" />
	</system.web>
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="PdfWriterService_basicHttpBinding" maxBufferSize="52428800" maxReceivedMessageSize="52428800">
					<readerQuotas maxArrayLength="52428800" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<!-- PdfWriterService, Version 1 -->
			<service behaviorConfiguration="PdfWriterServiceBehavior" name="PdfWriterService.Service1">
				<endpoint address="" binding="basicHttpBinding" contract="PdfWriterService.IService1">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/PdfWriterService/v1" />
					</baseAddresses>
				</host>
			</service>
			<!-- PdfWriterService, Version 2 -->
			<service behaviorConfiguration="PdfWriterServiceBehavior" name="PdfWriterService.Service2">
				<endpoint address="" binding="basicHttpBinding" contract="PdfWriterService.IService2">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/PdfWriterService/v2" />
					</baseAddresses>
				</host>
			</service>
			<!-- PdfWriterService, Version 3 -->
			<service behaviorConfiguration="PdfWriterServiceBehavior" name="PdfWriterService.Service3">
				<endpoint address="" binding="basicHttpBinding" contract="PdfWriterService.IService3">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/PdfWriterService/v3" />
					</baseAddresses>
				</host>
			</service>
			<!-- PdfWriterService, Version 4 -->
			<service behaviorConfiguration="PdfWriterServiceBehavior" name="PdfWriterService.Service4">
				<endpoint address="" binding="basicHttpBinding" contract="PdfWriterService.IService4">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/PdfWriterService/v4" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="PdfWriterServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
					<useRequestHeadersForMetadataAddress />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>
